bin/
obj/
/packages/
/bins/
/dist/
/publish/
packaging/changelog.yaml
packaging/featherquilld.metainfo.xml
riderModule.iml
/_ReSharper.Caches/
logs/
config.yml
config.cfg

# IDE / local Rider state
.idea/
*.user
*.DotSettings.user

# Reference clones only not part of FeatherQuilld
/wings/
/fusequota/
/featherpanel/
id_rsa
sync.bash
console.bash
FeatherWings/